<div appBsModal #createOrEditVenue="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditVenue" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #venueForm="ngForm" novalidate (ngSubmit)="save(venue?.id)" autocomplete="new-password">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="venue.id">{{"Edit Venue Request" | localize}}</span>
                        <span *ngIf="!venue.id">{{"Create Venue Request" | localize}}</span>
                    </h4>
                    <button type="button" class="close" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="form-group mb-5">
                      <multi-lingual-editor [translations]="venue.translations">
                        <ng-container *multiLingualEditorTranslation="let i = index; let default = first">
                          <div class="form-group mb-5" >
                            <label class="form-label" for="[{{ i }}].name">
                              {{ "Name" | localize }}
                            </label>
                              <input type="text" class="form-control form-info" id="[{{ i }}].name" name="[{{ i }}].name" [(ngModel)]="(venue?.translations)[i].name" 
                              [required]="default" maxlength="64" #nameModel="ngModel" #nameEl/>
                          </div>
                        </ng-container>
                      </multi-lingual-editor>
                    </div>

                    <div class="form-group col-md-6 mt-5 mb-5">
                        <label class="form-label" for="displayOrder">{{"Display Order" | localize}} </label>
                        <input id="displayOrder" #nameInput="ngModel" class="form-control" type="text" name="displayOrder" [(ngModel)]="venue.displayOrder"  maxlength="64">
                        
                    </div>  
                  </div>
                         
                  <div class="mt-9">
                    <label for="published" class="form-check form-check-custom form-check-solid py-1">
                        <input id="published" class="form-check-input" type="checkbox" name="published" [(ngModel)]="venue.isPublished">
                        <span class="form-check-label">
                          {{ 'published' | localize }}
                      </span> 
                    </label>
                  </div> 
                </div>
                            
            <div class="modal-footer">     
              <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{"Cancel" | localize}}</button>
              <button type="submit" class="btn btn-primary" [disabled]="!venueForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                <i class="fa fa-save"></i> <span>{{"Save" | localize}}</span>
              </button>
            </div>

            </form>

        </div>
    </div>
</div>
