<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Box Office' | localize" [description]="'Box Office Header Info' | localize">
            <div role="actions">

                <div class="btn-group" dropdown placement="button right">
                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button"
                        class="btn btn-outline btn-outline-success btn-active-light-success dropdown-toggle me-1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        aria-controls="dropdownMenuExcelOperations">
                        <i class="far fa-file-excel"></i>
                        {{ 'ExcelOperations' | localize }}
                    </button>
                    <ul id="dropdownMenuExcelOperations"
                        class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu
                        aria-labelledby="dropdownButtonExcelOperations">
                        <li role="menuitem">
                            <a class="dropdown-item text-dark" id="ExportBoxOfficeToExcelButton"
                                (click)="exportToExcel()" href="javascript:;">
                                <i class="fa fa-download me-2 mt-1 text-dark" style="font-size: 1rem"></i>
                                {{ 'ExportToExcel' | localize }}
                            </a>
                        </li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem">
                            <span class="dropdown-item-text text-muted pl-3" href="#">
                                <small [innerHTML]="
                                        l(
                                            'ImportToExcelSampleFileDownloadInfo',
                                            '<a href=/assets/sampleFiles/ImportBoxOfficeSampleFile.xlsx>' +
                                                l('ClickHere') +
                                                '</a>'
                                        )
                                    "></small>
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- *ngIf="'Pages.Administration.BoxOffice.Create' | permission" -->
                <button (click)="createBoxOffice()"
                    click="this.nav" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    {{ 'Create New Box Office' | localize }}
                </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="new-password">
                        <div>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-12">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text" />
                                            <button (click)="getall()" class="btn btn-primary" type="submit">
                                                <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4" [hidden]="!advancedFiltersAreShown">
                                <!-- [ngClass]="{
                                    'col-md-6': ('Pages.Administration.BoxOffice' | permission),
                                    'col-md-12': !('Pages.Administration.BoxOffice' | permission)
                                }" -->
                                <div >
                                    <div class="mb-5">
                                        <permission-tree-modal #permissionFilterTreeModal (onModalclose)="getall()"
                                            [disableCascade]="true"></permission-tree-modal>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4" *ngIf="advancedFiltersAreShown">
                                <div class="col-sm-12 text-end">
                                    <button class="btn btn-primary float-end" (click)="getall()">
                                        <i class="fa fa-sync"></i>
                                        {{ 'Refresh' | localize }}
                                    </button>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-sm-12">
                                    <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                        <i class="fa fa-angle-down"></i>
                                        {{ 'ShowAdvancedFilters' | localize }}
                                    </span>
                                    <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                        <i class="fa fa-angle-up"></i>
                                        {{ 'HideAdvancedFilters' | localize }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable sortMode="multiple" (onLazyLoad)="getall($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%" scrollDirection="horizontal"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="id">
                                            {{ 'id' | localize }}
                                            <p-sortIcon field="id"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="seatNo">
                                            {{ 'seatNo' | localize }}
                                            <p-sortIcon field="seatNo"></p-sortIcon>
                                        </th>

                                        <th pSortableColumn="price">
                                            {{ 'price' | localize }}
                                            <p-sortIcon field="price"></p-sortIcon>
                                        </th>

                                        <th pSortableColumn="isScanned">
                                            {{ 'isScanned' | localize }}
                                            <p-sortIcon field="isScanned"></p-sortIcon>
                                        </th>
                                  
                                        <!-- <th pSortableColumn="displayOrder">
                                            {{ 'Display Order' | localize }}
                                            <p-sortIcon field="displayOrder"></p-sortIcon>
                                        </th> -->
                                    
                                        <!-- [hidden]=" !(['Pages.Administration.BoxOffice.Edit','Pages.Administration.BoxOffice.Delete'] | permissionAny)" -->
                                        <th >
                                            {{ 'Actions' | localize }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="p-column-title">
                                                {{ 'Id' | localize }}
                                            </span>
                                            {{ record.id }}
                                        </td>

                                        <td>
                                            <span class="p-column-title">
                                                {{ 'SeatNo' | localize }}
                                            </span>
                                            {{ record.seatNo }}
                                        </td>
                                        
                                        <td>
                                            <span class="p-column-title">
                                                {{ 'Price' | localize }}
                                            </span>
                                            {{ record.price }}
                                        </td>

                                        <td>
                                            <span class="p-column-title">{{ 'isScanned' | localize }}</span>
                                            <span class="badge badge-success" *ngIf="record.isScanned">
                                                {{ 'Yes' | localize }}
                                            </span>
                                            <span class="badge badge-dark" *ngIf="!record.isScanned">
                                                {{ 'No' | localize }}
                                            </span>
                                        </td>

                                        <!-- <td>
                                            <span class="p-column-title">
                                                {{ 'Display Order' | localize }}
                                            </span>
                                            {{ record.displayOrder }}
                                        </td> -->

                                        <!-- [hidden]=" !(['Pages.Administration.BoxOffice.Edit','Pages.Administration.BoxOffice.Delete'] | permissionAny)" -->
                                        <td >
                                            <div class="btn-group" dropdown placement="bottom left" container="body">
                                                <button id="dropdownButton" type="button"
                                                    class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle
                                                    aria-controls="dropdownMenu">
                                                    <i class="fa fa-cog"></i>
                                                    <span class="caret"></span>
                                                    {{ 'Actions' | localize }}
                                                </button>
                                                <ul id="dropdownMenu" class="dropdown-menu" role="menu" *dropdownMenu
                                                    aria-labelledby="dropdownButton">
                                                    <!-- *ngIf="'Pages.Administration.BoxOffice.Edit' | permission" -->
                                                    <li 
                                                        role="menuitem">
                                                        <a href="javascript:;" class="dropdown-item"
                                                        (click)="createOrEditBoxOffice.showBoxOfficeModal(record.id)"
                                                        > 

                                                            {{ 'Edit' | localize }}
                                                        </a>
                                                    </li>
                                                    <!-- *ngIf="'Pages.Administration.Country.Delete' | permission" -->
                                                    <li 
                                                        role="menuitem">
                                                        <a href="javascript:;" class="dropdown-item"
                                                            (click)="remove(record)">
                                                            {{ 'Delete' | localize }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ 'NoData' | localize }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getall($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                    [showCurrentPageReport]="true" [currentPageReportTemplate]="
                                        'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                    "></p-paginator>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <createOrEditBoxOffice #createOrEditBoxOffice (modalSave)="createBoxOffice()"></createOrEditBoxOffice>

    </div>
</div>