<ng-container
  *ngIf="translations && translations.length > 1 && translationDirective"
>
  <tabset [classList]="'multiLingualTab'">
    <ng-container
      *ngFor="
        let translation of translations;
        let i = index;
        let default = first
      ">
      
    
    <tab customClass="{{atcCustomClass}}"  class="pt-3 px-2">
      <ng-template tabHeading>
        <i [ngClass]="languageByNameMap[translation.language].icon"></i>
        {{ languageByNameMap[translation.language].displayName }}
    
        <!-- <span *ngIf="default" class="badge bg-primary">
          {{ "Default" | localize }}
        </span> -->
    
      </ng-template>
      <ng-container
        *ngTemplateOutlet="
          translationDirective.template;
          context: { index: i, first: default }
        "
      ></ng-container>
    </tab>
    </ng-container>
  </tabset>
</ng-container>
